{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}


    <div class="login100-pic js-tilt" data-tilt>
        <img src="images/Saved_by_the_Bell_logo.png" alt="IMG">
        {{ "now"|date("m/d/Y")|format_datetime('full', 'short', locale='fr') }}
        <figure>
            <figcaption>Saved By The Bell</figcaption>
            <audio
                    controls
                    src="css/media/Saved-by-the-Bell.mp3">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </figure>
    </div>


    <form method="post" class="login100-form validate-form">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

					<span class="login100-form-title">
						Connexion du membre
					</span>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input100" required autofocus>
            <span class="focus-input100"></span>
            <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Password is required">
            <input type="password" name="password" id="inputPassword" class="input100" required>
            <span class="focus-input100"></span>
            <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
        </div>

        <div class="container-login100-form-btn">
            <button class="login100-form-btn">
                Connexion
            </button>
        </div>

        <div class="text-center p-t-12">
						<span class="txt1">
							Oublié
						</span>
            <a class="txt2" href="#">
                Utilisateur / Mot de passe
            </a>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

    </form>
{% endblock %}
